<p id="notice"><%= notice %></p>

<h1>Moviees</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Movie length</th>
      <th>Director</th>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @moviees.each do |moviee| %>
      <tr>
        <td><%= moviee.title %></td>
        <td><%= moviee.description %></td>
        <td><%= moviee.movie_length %></td>
        <td><%= moviee.director %></td>
        <td><%= moviee.rating %></td>
        <td><%= link_to 'Show', moviee %></td>
        <td><%= link_to 'Edit', edit_moviee_path(moviee) %></td>
        <td><%= link_to 'Destroy', moviee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Moviee', new_moviee_path %>
