<p>
<%= link_to 'New Moviee', new_moviee_path, class: 'button' %>
</p>
<table>
  <thead>
    <tr>
      <th>image</th>
      <th>Title</th>
      <th>Description</th>
      <th>Movie length</th>
      <th>Director</th>
      <th>Rating</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @moviees.each do |moviee| %>
      <tr>
        <td><%= link_to image_tag(moviee.image, style: 'width:100px;') %></td>
        <td><%= moviee.title %></td>
        <td><%= moviee.description %></td>
        <td><%= moviee.movie_length %></td>
        <td><%= moviee.director %></td>
        <td><%= moviee.rating %></td>
        <td><%= link_to 'Show', moviee %></td>
        <td><%= link_to 'Edit', edit_moviee_path(moviee) %></td>
        <td><%= link_to 'Destroy', moviee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


