

<p>
  <strong>Title:</strong>
  <%= @moviee.title %>
  <%= link_to 'Edit', edit_moviee_path(@moviee) %> |
<%= link_to 'Back', moviees_path %>

</p>

<p>
  <%= link_to image_tag(@moviee.image, style: 'width:80%'), moviee_path %>
</p>

<p>
  <strong>Description:</strong>
  <%= @moviee.description %>
</p>

<p>
  <strong>Movie length:</strong>
  <%= @moviee.movie_length %>

  <strong>Director:</strong>
  <%= @moviee.director %>

  <strong>Rating:</strong>
  <%= @moviee.rating %>
</p>


<p>
 <%= link_to 'Edit', edit_moviee_path(@moviee) %> |
<%= link_to 'Back', moviees_path %>
</p>